[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
[Bb]uilds/
[Uu]serSettings/
SourceModels/
.vs/
*.csproj
*.sln
*.apk
*.aab
*.zip
*_BackUpThisFolder_ButDontShipItWithYourGame/
*_BurstDebugInformation_DoNotShip/
.utmp/
